.app-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    z-index: 100;
}

.app-modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0 1em;

    background-color: rgba(0,0,0,.5);

    opacity: 0;
    transition: opacity .2s cubic-bezier(0.165, 0.84, 0.44, 1);    
}

.app-modal-body {
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    width: 100%;
    max-width: 250px;

    background-color: white;    
    border-radius: 2px;
    overflow: hidden;

    transform: scale(0);
    transition: transform .2s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.app-modal.active > .app-modal-overlay {
    opacity: 1;
}

.app-modal.active > .app-modal-overlay > .app-modal-body {
    transform: scale(1);  
}

.app-modal.leaving > .app-modal-overlay {
    opacity: 0;
}

.app-modal.leaving > .app-modal-overlay > .app-modal-body {
    transform: translateY(-40%);  
}

.app-modal-header {
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1em;
    padding: .5em 0;
    color: white;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background: linear-gradient(45deg, #9c27b0 20%, #9d6aa5 100%);

    cursor: move;
}

.app-modal-content {
    font-family: 'Roboto', sans-serif;
    font-size: .8em;
    font-weight: 400;
    color: #565656;
    padding: 2.5em .5em 1em .5em;
    text-align: center;
    line-height: 20px;
}

.app-modal-footer {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.app-modal-footer > button:first-child {
    margin-right: .5em;
}

.app-modal-footer > button:last-child {
    margin-left: .5em;
}

.app-modal .button {
    padding: .5em 1em;
    margin: 0 .5em;
    border-radius: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.button.confirm {
    background-color: #9c27b0;
}

.button.cancel {
    color: #9c27b0;
}

.button.cancel:active {
    background-color: #9d6aa544;
}